services:

  # Reverse Proxy Nginx
  nginx-proxy:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "8000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - laravel-base
    networks:
      laravel-network:

  # Base laravel app
  laravel-base:
    build:
      context: laravel-base
      dockerfile: Dockerfile
    container_name: app
    volumes:
      - ./php/php.ini:/user/local/etc/php/php.ini
      - ./laravel-base:/var/www/html
    working_dir: /var/www/html
    command: |
      bash -c "
        chown -R www-data:www-data storage bootstrap/cache database && 
        chmod -R 775 storage bootstrap/cache database/database.sqlite && 
        php artisan migrate --force &&
        /usr/bin/supervisord -c /etc/supervisor/supervisord.conf
      "
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_DATABASE: app
    networks:
      laravel-network:
    depends_on:
      mysql:
        condition: service_healthy

  # MySQL Server
  mysql:
    image: mysql:8.0
    container_name: mysql-laravel
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "127.0.0.1" ]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 2s
    networks:
      - laravel-network


  # SimpleSAMLphp
  idp:
    build:
      context: ./simplesamlphp
    image: cirrusid/simplesamlphp
    container_name: idp
    ports:
      - "443:443"
    environment:
      - SSP_ADMIN_PASSWORD=${SSP_ADMIN_PASSWORD}
      - SSP_ENABLED_MODULES=sqlauth exampleauth
      - SSP_SECRET_SALT=${SSP_SECRET_SALT}
      - SSP_ENABLE_IDP=true
    networks:
      - laravel-network
    volumes:
      - ./simplesamlphp/config/authsources.php:/var/simplesamlphp/config/authsources.php
      - ./simplesamlphp/cert:/var/simplesamlphp/cert
    command: |
      bash -c "
        chown -R www-data:www-data /var/simplesamlphp/cert &&
        /opt/simplesaml/ssp-startup.sh
      "
    depends_on:
      - mysql


volumes:
  mysql_data:

networks:
  laravel-network:
    driver: bridge