# Base laravel app
x-common: &laravel-base
  build:
    context: laravel-base
    dockerfile: ../laravel-base/Dockerfile
  working_dir: /var/www/html
  command: |
    bash -c "
      chown -R www-data:www-data storage bootstrap/cache && 
      chmod -R 775 storage bootstrap/cache  && 
      composer install &&
      php artisan migrate --force &&
      /usr/bin/supervisord -c /etc/supervisor/supervisord.conf
    "
  networks:
    laravel-network:
  depends_on:
    mysql:
      condition: service_healthy

services:

  # Reverse Proxy Nginx
  nginx-proxy:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "8000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
    networks:
      laravel-network:
    depends_on:
      - users-app
      - products-app



  users-app:
    <<: *laravel-base
    container_name: users-app
    build:
      dockerfile: ../laravel-base/Dockerfile
      context: ./users-app
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_DATABASE: app
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      SAML2_TEST_IDP_HOST: https://app.local/simplesaml
      SAML2_TEST_IDP_ENTITYID: test
      SAML2_TEST_IDP_x509: MIIFazCCA1OgAwIBAgIUUKqU5PM3twAA6iEahZQ10DXZagwwDQYJKoZIhvcNAQELBQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yNTExMDMxNTM3MDVaFw0yNjExMDMxNTM3MDVaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC7PMzjrRzmcjsw62xe+x9GG2fb4e2uGZxyzeEX+DaxdZI7MUkyHI8jOK2ztMGbxEbCt2ewkWHmp3fBcOn54pDHM0lQCgXHNEhTbqnlFiN0/tEX4UXdWvbGvkgZ8BQkI2vsA0q0sVtLOuHGjZpm3HSuNmTqh9nQeRu84Ez83tITFTwwc/yr96ceUc5qZ24TtpDfGx9BRCSPxJ1bcqhpom8NXuYwvEwoQw+1OS1P0fsvI0EjpFPb9IkXUhNiOi6FoAicxK+ASX0QT7aiE1ceDEh29qYVPhL8Je7vkvYxe5HRE7d3jns6YkArElqtP2tZKjZp9lz6Bi1FrJ2is038/zHdWtnOClBfhGjolqOln/S5ys658SHeVQoADqengsn9SmurP7i1qufqn6jISixQBMwb0FA/B/4NN0gXnQmyvENuoVdEYRBUYDQCMz+SM9we1Mft6PtbtpeoPwKRUALV9kz8jKwJ6RmAGk6LbXbxW24mvEiy3CxGJfV23YpA7OZQ5HZZ8/uWuemYdI2jKzOipAYLodAzUYL3nufSUOahVtPIiAoSIxl3hWUx/ZlV15uXpiJ5K8HU/aHrXvsBGsGiR2Z520NmNABrB2eywNFJ4rxwfZ0BInk0e/v5VAHRZy3YdzU89uv/yGbtCOLfqFke7VC6TbHUbyKPod7rYN9ty4MlvQIDAQABo1MwUTAdBgNVHQ4EFgQUSbUwX4m1hFRJGTAGDF3YBeyOnTQwHwYDVR0jBBgwFoAUSbUwX4m1hFRJGTAGDF3YBeyOnTQwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAokVm9bkGzMVxF8prgVZ5PYSTwOAiXqt5D9b/05AuzUa+4otVJFzbKvqGBy/1yavojBtnJOU3d/Id7DlTf3dLr3l37nZd65nB/LqYzcuwf4T8CSWfHfppq1l2a8LiAkUdzSfIheeHmhssUZ9ip58n0c+vWPpOhuSy+YJX3n/mN+IRS38K1F65raJlXjrP/CrYuzakbC51Y/DTvdPzznVHKqIaepjV0YMPeCT5OCJSXDj/v4MHJX1gdUmilXC8F6gIIqgvQgtqRS+s2SRQ/0vn9tN0ppMOsmbwzoGPkbcKo6nMMJJ+PcfPTOdbNsX8phiDGspNC/KS/Tk8w/sU3+klEjUy8Hise/8JDC/R4H4OLsOFxfH7darEIuCw80AUXsNyEpv3rw94oKhtGk8MBUN37rIksU6qZ0otUUWMLq2jgxU/UkaXQgVu+x9o92yUHIPP/oxSA51YwiLwbhcbCJUjKVhsU8/NRx30LcP++TWK5cpmQjkumLOdjpAejL1O6xdXXfwAljyIAuYp7SU/vBzBFDdK6ZRXW2BEUDy3UhvAsRIRWrYZYFK9XRFpw+YkaIElEpswMIj4v1DtScq3QAz8yCyg4VGtb3Py7jPLYw7OmLx5iAvxHI14anro9MYUsGSxL9VQ/891GGQorhSkCZrdycByfJ0nsV10cXLPaRI8bk4=
      SAML2_TEST_SP_ENTITYID: users
      SESSION_COOKIE: users_session
      REDIS_HOST: redis
      REDIS_PREFIX: ""
      #      SAML2_TEST_BASEURL: http://app.local:8000/users/saml2
    volumes:
      - ./php/php.ini:/user/local/etc/php/php.ini
      - ./users-app:/var/www/html
      - ./shared-package:/var/www/shared-package
      - ./users-app/supervisor/laravel.conf:/etc/supervisor/conf.d/laravel.conf

  products-app:
    <<: *laravel-base
    container_name: products-app
    build:
      dockerfile: ../laravel-base/Dockerfile
      context: ./products-app
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_DATABASE: products
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      SAML2_TEST_IDP_HOST: https://app.local/simplesaml
      SAML2_TEST_IDP_ENTITYID: test
      SAML2_TEST_IDP_x509: MIIFazCCA1OgAwIBAgIUUKqU5PM3twAA6iEahZQ10DXZagwwDQYJKoZIhvcNAQELBQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yNTExMDMxNTM3MDVaFw0yNjExMDMxNTM3MDVaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC7PMzjrRzmcjsw62xe+x9GG2fb4e2uGZxyzeEX+DaxdZI7MUkyHI8jOK2ztMGbxEbCt2ewkWHmp3fBcOn54pDHM0lQCgXHNEhTbqnlFiN0/tEX4UXdWvbGvkgZ8BQkI2vsA0q0sVtLOuHGjZpm3HSuNmTqh9nQeRu84Ez83tITFTwwc/yr96ceUc5qZ24TtpDfGx9BRCSPxJ1bcqhpom8NXuYwvEwoQw+1OS1P0fsvI0EjpFPb9IkXUhNiOi6FoAicxK+ASX0QT7aiE1ceDEh29qYVPhL8Je7vkvYxe5HRE7d3jns6YkArElqtP2tZKjZp9lz6Bi1FrJ2is038/zHdWtnOClBfhGjolqOln/S5ys658SHeVQoADqengsn9SmurP7i1qufqn6jISixQBMwb0FA/B/4NN0gXnQmyvENuoVdEYRBUYDQCMz+SM9we1Mft6PtbtpeoPwKRUALV9kz8jKwJ6RmAGk6LbXbxW24mvEiy3CxGJfV23YpA7OZQ5HZZ8/uWuemYdI2jKzOipAYLodAzUYL3nufSUOahVtPIiAoSIxl3hWUx/ZlV15uXpiJ5K8HU/aHrXvsBGsGiR2Z520NmNABrB2eywNFJ4rxwfZ0BInk0e/v5VAHRZy3YdzU89uv/yGbtCOLfqFke7VC6TbHUbyKPod7rYN9ty4MlvQIDAQABo1MwUTAdBgNVHQ4EFgQUSbUwX4m1hFRJGTAGDF3YBeyOnTQwHwYDVR0jBBgwFoAUSbUwX4m1hFRJGTAGDF3YBeyOnTQwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAokVm9bkGzMVxF8prgVZ5PYSTwOAiXqt5D9b/05AuzUa+4otVJFzbKvqGBy/1yavojBtnJOU3d/Id7DlTf3dLr3l37nZd65nB/LqYzcuwf4T8CSWfHfppq1l2a8LiAkUdzSfIheeHmhssUZ9ip58n0c+vWPpOhuSy+YJX3n/mN+IRS38K1F65raJlXjrP/CrYuzakbC51Y/DTvdPzznVHKqIaepjV0YMPeCT5OCJSXDj/v4MHJX1gdUmilXC8F6gIIqgvQgtqRS+s2SRQ/0vn9tN0ppMOsmbwzoGPkbcKo6nMMJJ+PcfPTOdbNsX8phiDGspNC/KS/Tk8w/sU3+klEjUy8Hise/8JDC/R4H4OLsOFxfH7darEIuCw80AUXsNyEpv3rw94oKhtGk8MBUN37rIksU6qZ0otUUWMLq2jgxU/UkaXQgVu+x9o92yUHIPP/oxSA51YwiLwbhcbCJUjKVhsU8/NRx30LcP++TWK5cpmQjkumLOdjpAejL1O6xdXXfwAljyIAuYp7SU/vBzBFDdK6ZRXW2BEUDy3UhvAsRIRWrYZYFK9XRFpw+YkaIElEpswMIj4v1DtScq3QAz8yCyg4VGtb3Py7jPLYw7OmLx5iAvxHI14anro9MYUsGSxL9VQ/891GGQorhSkCZrdycByfJ0nsV10cXLPaRI8bk4=
      SAML2_TEST_SP_ENTITYID: products
      SESSION_COOKIE: products_session
      REDIS_HOST: redis
      REDIS_PREFIX: ""
      #      SAML2_TEST_BASEURL: http://app.local:8000/users/saml2
    volumes:
      - ./php/php.ini:/user/local/etc/php/php.ini
      - ./products-app:/var/www/html
      - ./shared-package:/var/www/shared-package

  orders-app:
    <<: *laravel-base
    container_name: orders-app
    build:
      dockerfile: ../laravel-base/Dockerfile
      context: ./orders-app
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_DATABASE: orders
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      SAML2_TEST_IDP_HOST: https://app.local/simplesaml
      SAML2_TEST_IDP_ENTITYID: test
      SAML2_TEST_IDP_x509: MIIFazCCA1OgAwIBAgIUUKqU5PM3twAA6iEahZQ10DXZagwwDQYJKoZIhvcNAQELBQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yNTExMDMxNTM3MDVaFw0yNjExMDMxNTM3MDVaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC7PMzjrRzmcjsw62xe+x9GG2fb4e2uGZxyzeEX+DaxdZI7MUkyHI8jOK2ztMGbxEbCt2ewkWHmp3fBcOn54pDHM0lQCgXHNEhTbqnlFiN0/tEX4UXdWvbGvkgZ8BQkI2vsA0q0sVtLOuHGjZpm3HSuNmTqh9nQeRu84Ez83tITFTwwc/yr96ceUc5qZ24TtpDfGx9BRCSPxJ1bcqhpom8NXuYwvEwoQw+1OS1P0fsvI0EjpFPb9IkXUhNiOi6FoAicxK+ASX0QT7aiE1ceDEh29qYVPhL8Je7vkvYxe5HRE7d3jns6YkArElqtP2tZKjZp9lz6Bi1FrJ2is038/zHdWtnOClBfhGjolqOln/S5ys658SHeVQoADqengsn9SmurP7i1qufqn6jISixQBMwb0FA/B/4NN0gXnQmyvENuoVdEYRBUYDQCMz+SM9we1Mft6PtbtpeoPwKRUALV9kz8jKwJ6RmAGk6LbXbxW24mvEiy3CxGJfV23YpA7OZQ5HZZ8/uWuemYdI2jKzOipAYLodAzUYL3nufSUOahVtPIiAoSIxl3hWUx/ZlV15uXpiJ5K8HU/aHrXvsBGsGiR2Z520NmNABrB2eywNFJ4rxwfZ0BInk0e/v5VAHRZy3YdzU89uv/yGbtCOLfqFke7VC6TbHUbyKPod7rYN9ty4MlvQIDAQABo1MwUTAdBgNVHQ4EFgQUSbUwX4m1hFRJGTAGDF3YBeyOnTQwHwYDVR0jBBgwFoAUSbUwX4m1hFRJGTAGDF3YBeyOnTQwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAokVm9bkGzMVxF8prgVZ5PYSTwOAiXqt5D9b/05AuzUa+4otVJFzbKvqGBy/1yavojBtnJOU3d/Id7DlTf3dLr3l37nZd65nB/LqYzcuwf4T8CSWfHfppq1l2a8LiAkUdzSfIheeHmhssUZ9ip58n0c+vWPpOhuSy+YJX3n/mN+IRS38K1F65raJlXjrP/CrYuzakbC51Y/DTvdPzznVHKqIaepjV0YMPeCT5OCJSXDj/v4MHJX1gdUmilXC8F6gIIqgvQgtqRS+s2SRQ/0vn9tN0ppMOsmbwzoGPkbcKo6nMMJJ+PcfPTOdbNsX8phiDGspNC/KS/Tk8w/sU3+klEjUy8Hise/8JDC/R4H4OLsOFxfH7darEIuCw80AUXsNyEpv3rw94oKhtGk8MBUN37rIksU6qZ0otUUWMLq2jgxU/UkaXQgVu+x9o92yUHIPP/oxSA51YwiLwbhcbCJUjKVhsU8/NRx30LcP++TWK5cpmQjkumLOdjpAejL1O6xdXXfwAljyIAuYp7SU/vBzBFDdK6ZRXW2BEUDy3UhvAsRIRWrYZYFK9XRFpw+YkaIElEpswMIj4v1DtScq3QAz8yCyg4VGtb3Py7jPLYw7OmLx5iAvxHI14anro9MYUsGSxL9VQ/891GGQorhSkCZrdycByfJ0nsV10cXLPaRI8bk4=
      SAML2_TEST_SP_ENTITYID: orders
      SESSION_COOKIE: orders_session
      REDIS_HOST: redis
      REDIS_PREFIX: ""
      #      SAML2_TEST_BASEURL: http://app.local:8000/users/saml2
    volumes:
      - ./php/php.ini:/user/local/etc/php/php.ini
      - ./orders-app:/var/www/html
      - ./shared-package:/var/www/shared-package

  # MySQL Server
  mysql:
    image: mysql:8.0
    container_name: mysql-laravel
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "127.0.0.1" ]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 2s
    networks:
      - laravel-network


  # SimpleSAMLphp
  idp:
    build:
      context: ./simplesamlphp
    image: cirrusid/simplesamlphp
    container_name: idp
    ports:
      - "443:443"
    environment:
      - SSP_ADMIN_PASSWORD=${SSP_ADMIN_PASSWORD}
      - SSP_ENABLED_MODULES=sqlauth exampleauth
      - SSP_SECRET_SALT=${SSP_SECRET_SALT}
      - SSP_ENABLE_IDP=true
    networks:
      - laravel-network
    volumes:
      - ./simplesamlphp/config/authsources.php:/var/simplesamlphp/config/authsources.php
      - ./simplesamlphp/cert:/var/simplesamlphp/cert
      - ./simplesamlphp/metadata/saml20-idp-hosted.php:/var/simplesamlphp/metadata/saml20-idp-hosted.php
      - ./simplesamlphp/metadata/saml20-sp-remote.php:/var/simplesamlphp/metadata/saml20-sp-remote.php
    command: |
      bash -c "
        chown -R www-data:www-data /var/simplesamlphp/cert &&
        openssl req -x509 -newkey rsa:4096 -keyout /etc/ssl/private/local-stack-dev.key -out /etc/ssl/certs/local-stack-dev.pem -sha256 -days 365  -nodes -subj "/C=XX/ST=StateName/L=CityName/O=CompanyName/OU=CompanySectionName/CN=CommonNameOrHostname" && 
        /opt/simplesaml/ssp-startup.sh
      "
    depends_on:
      - mysql

  # Redis database
  redis:
    image: redis:latest
    container_name: redis
#    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - laravel-network


volumes:
  mysql_data:

networks:
  laravel-network:
    driver: bridge